.container {
  display: flex;
  height: auto;
}

.side {
  flex: 0.3;
  padding: 13px;
  background: linear-gradient(
    262deg,
    rgba(55.01, 168.04, 231.63, 0.4) 0%,
    rgba(91.37, 163.39, 255, 0.4) 30%,
    rgba(210.25, 167.83, 220.23, 0.4) 56%,
    rgba(227.66, 172.81, 212.3, 0.4) 71%,
    rgba(133.87, 145.99, 255, 0.4) 100%
  );
}

.main-content {
  flex: 0.7;
  height: auto;
}
